.styleSearch {
  background-color: #efefef;
  border-radius: 8px;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
}
input {
  background-color: transparent;
  border: none;
  color: rgb(51, 51, 51);
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}

.fa-search {
  color: #8e8e8e;
}

.fa {
  font-size: 20px;
  font-weight: bold;
}
.styleInput {
  width: 97%;
}
