.card {
  border: none;
  border-radius: 6px;
}
img {
  border-radius: 6px;
  width: 100%;
}
.card-body:hover {
  background-color: #efefef;
  border-radius: 6px;
}
.card-title {
  color: #211922;
}
a {
  text-decoration: none;
  color: #222222;
  cursor: zoom-in;
}
