<div class="row w-100 m-0 justify-content-center">
  <div class="col-12 backgroundStyle">
    <div class="homeText">
      <h1>When it comes to a great idea, you know it when you see it.</h1>
    </div>
  </div>
  <div class="col-12 d-flex flex-nowrap align-items-center about">
    <div class="col-6">
      <h3>About</h3>
    </div>
    <div class="col-6">
      <p>
        Pinterest, Inc. is a web and mobile application company that operates a software system
        designed to discover information on the World Wide Web,
        mainly using images and, on a smaller scale, GIFs and videos.
      </p>
      <p>
        The site was founded by Ben Silbermann, Paul Sciarra and Evan Sharp.
        Pinterest has reached 250 million monthly active users as of October 2018.
      </p>
    </div>
  </div>
</div>
