<form class="d-flex justify-content-center pt-3">
  <div class="form-row row bg-white">
    <div class="col-12 pb-2"><p>Add item</p></div>
    <div class="col-6">
      <div class="form-group pb-3">
        <label >Title</label>
        <input required class="form-control inputColor" type="text">
      </div>
      <div class="form-group">
        <label>Author</label>
        <input required class="form-control inputColor" type="text">
      </div>
    </div>
    <div class="col-6 pl-4">
      <div class="form-group">
        <label>Description</label>
        <textarea required rows="6" class="form-control inputColor"></textarea>
      </div>
      <div class="d-flex justify-content-between buttonStyle">
        <button>Cancel</button>
        <button>Create</button>
      </div>
    </div>
  </div>
</form>
